{% extends '::base.html.twig' %}

{% block title %}User Detail{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('/bundles/jasonusers/css/ui-lightness/jquery-ui-1.8.custom.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
	<h1>Find User By Name</h1>
	
	<form action="#" method="post" {{ form_enctype(form) }}>
		{{ form_widget(form) }}
		<input type="submit" class="submit" />
	</form>
	
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('/bundles/jasonusers/js/jquery-1.4.2.min.js') }}" type="text/javascript"></script>
	<script src="{{ asset('/bundles/jasonusers/js/jquery-ui-1.8.custom.min.js') }}" type="text/javascript"></script>
	<script src="{{ asset('/bundles/jasonusers/js/autocomplete.js') }}" type="text/javascript"></script>
{% endblock %}